<header>
  <div class="header">
    <div class="logo">
      <a href="index.html"><img src="assets/images/logo.png" alt="{{ site.company_name }}"></a>
      <span>Lic. {{ site.license }}</span>
    </div>
    
    <aside class="contact-info" vocab="https://schema.org" typeof="Organization">
      <span class="sr-only" property="name">{{ site.company_name }}</span>
      
      <a class="button" href="tel:{{ site.phone }}" property="telephone">
        <img src="assets/icons/phone.svg" alt="Phone"><span class="label">{{ site.phone }}</span>
      </a>
      
      <a class="button" href="mailto:{{ site.email }}" property="email">
        <img src="assets/icons/email.svg" alt="Email"><span class="label">{{ site.email }}</span>
      </a>
    </aside>
  </div>
  <nav>
    <a href="index.html" class="desktop-only">Home</a>
    <a href="certs-systems.html">Certs & Systems</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>