:root {
  --brand-color-0-rgb: 20, 25, 40;
  --brand-color-1-rgb: 92, 135, 135;
  --brand-color-2-rgb: 170, 101, 67;
  --brand-color-3-rgb: 87, 124, 121;
  --brand-color-4-rgb: 240, 240, 255;
  --brand-color-0: rgb(var(--brand-color-0-rgb));
  --brand-color-1: rgb(var(--brand-color-1-rgb));
  --brand-color-2: rgb(var(--brand-color-2-rgb));
  --brand-color-3: rgb(var(--brand-color-3-rgb));
  --brand-color-4: rgb(var(--brand-color-4-rgb));
  --bg-color: var(--brand-color-0);
  --fg-color: var(--brand-color-4);
  --logo-size: 14rem;
}

* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
  margin: 0;
}
body {
  padding: 0 2rem;
}

/* Typography */
h1, h2, h3 {
  font-weight: 600;
}
h1 {
  margin-block: 0 1.5rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.25rem;
}
strong {
  font-weight: 500;
}

/* Layout */
body {
  background: var(--bg-color);
  color: var(--fg-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: end;
}

main {
  margin: 1.25rem 0;
  padding: 2rem;
  background: rgba(var(--brand-color-1-rgb), 0.25);
  border-radius: 2rem;

  color: var(--brand-color-4);
}

footer {
  margin-block: 2rem;
  color: var(--brand-color-3);
}

/* Logo */
.logo {
  padding: 1rem 0;
  position: relative;
}

.logo img {
  width: var(--logo-size);
}

.logo span {
  font-size: 0.6rem;
  position: absolute;
  inset-inline-end: 0.75rem;
  inset-block-end: 1.5rem;
}

/* Nav */
nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  background: var(--brand-color-2);
  overflow-x: auto;
  width: 100%;

  border-radius: 1rem;
}

nav a {
  display: flex;
  color: var(--fg-color);
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

nav a:hover {
  background-color: var(--brand-color-1);
}

/* List */
ul {
  padding-inline-start: 1.5rem;
}
li {
  margin: 0.5rem 0;
}

/* Button */
.button {
  display: block;
  background-color: var(--brand-color-2);
  color: var(--brand-color-4);
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  gap: 0.5em;
}

.button img {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  background-color: rgba(var(--brand-color-2-rgb), 1);
}

.button.big {
  font-size: 1.5rem;
}

.button-group {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

/* Info grid */
.info-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-grid-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  gap: 1rem;
}

.info-grid-item img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.info-grid-item.right {
  flex-direction: row-reverse;
  text-align: right;
}

/* Utils */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* Mobile Styles */
@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  h1 {
    margin-block: 0 0.5rem;
    font-size: 1.5rem;
  }
  .button .label {
    display: none;
  }
  nav {
    gap: 0;
  }
  nav a {
    padding: 1rem 1.25rem;
  }
  body {
    padding: 0 1rem;
  }

  main {
    padding: 1rem;
  }

  .button.big {
    font-size: 1.05rem;
  }

  .button-group {
    width: 100%;
    gap: 1.5rem;
    padding: 0.5rem 0;
  }

  .info-grid {
    gap: 1rem;
  }

  .info-grid-item img {
    width: 6rem;
    height: 6rem;
  }  
}